<!-- ===================================================================== WP-FOOTER ======================================================================= -->
<div id="wp-footer">
    <div class="container d-flex">

        <!-- about-us -->
        <div class="widget about-us">
            <div class="widget-head">
                <h3>
                    <a href="index.html" id="logo">
                        <img src="assets/images/GreenLOHO.png">
                    </a>
                </h3>
            </div>
            <div class="widget-body">
                <p class="post-desc">Chúng tôi cung cấp tất cả các mặt hàng quà tặng tân gia và đồ trang trí nhà. Chúng tôi luôn muốn cung cấp cho bạn những sản phẩm và dịch vụ tốt nhất theo tiêu chí: “Your House – Your Style”. Hi vọng bạn sẽ lựa chọn được những mặt hàng
                    ưng ý nhất từ GreenHOLO.</p>
				<p class="post-desc">MSSV: 20100521. Phạm Nguyễn Huy Hoàng</p>
            </div>
        </div>
        <!-- end about-us -->

        <div class="widget category">
            <div class="widget-head">
                <h3>Danh mục</h3>
            </div>
            <div class="widget-body">
                <ul class="list-category">
                    <li>
                        <a href="../products.html"><span class="cate">•</span>Trang trí phòng khách</a>
                    </li>
                    <li>
                        <a href="../products.html"><span class="cate">•</span>Trang trí phòng tắm</a>
                    </li>
                    <li>
                        <a href="../products.html"><span class="cate">•</span>Trang trí phòng ngủ</a>
                    </li>
                    <li>
                        <a href="../products.html"><span class="cate">•</span>Trang trí phòng đọc sách</a>
                    </li>
                    <li>
                        <a href="../products.html"><span class="cate">•</span>Trang trí nhà bếp</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end category -->

        <!-- featured-news -->
        <div class="widget featured-news">
            <div class="widget-head">
                <h3>Thông tin liên hệ</h3>
            </div>
            <div class="widget-body">
                <h4>Địa chỉ liên hệ:</h4>
                <p>12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Thành phố Hồ Chí Minh</p>
                <h4 style="display: inline-block;">Số điện thoại:</h4>
                <p style="display:inline-block"> 0383246740</p>
                <h4>Bản đồ</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.838999596424!2d106.6874196333282!3d10.823630195783755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174deb3ef536f31%3A0x8b7bb8b7c956157b!2sIndustrial%20University%20of%20Ho%20Chi%20Minh%20City!5e0!3m2!1sen!2s!4v1650072342359!5m2!1sen!2s" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
        <!-- end featured-news -->

    </div>
</div>
<!-- End wp-footer -->