/* Từ tổng quan đến chi tiết
Từ ngoài vào trong
Từ sau ra trước
Từ trái sang phải
Từ trên xuống dưới */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* =========================================================== OVERVIEW =========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo-bar {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* =============================================================== HEADER =================================================================== */

#header {
    padding-top: 24px;
    padding-bottom: 30px;
}

#logo {
    flex: 210px;
    padding-right: 54px;
}

ul#main-menu {
    flex: 800px;
}

ul#main-menu li {
    position: relative;
}

ul#main-menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    padding: 8px 15px;
    display: block;
    transition: all 0.2s;
}

ul#main-menu>li:hover>a {
    /* color: #a09f9f; */
    font-weight: 500;
    transition: all 0.2s;
    background: #128a4e;
    color: #fefefe;
}

ul#main-menu .sub-menu {
    z-index: 1;
    position: absolute;
    background-color: #d8d7d2;
    width: 200px;
    padding: 10px 0px;
    list-style: none;
    border-top: 2px solid rgb(61, 60, 60);
    border-bottom: 2px solid rgb(61, 60, 60);
    display: none;
}

ul#main-menu li:hover>ul.sub-menu {
    display: block;
}

ul#main-menu .sub-menu a {
    display: block;
    padding: 5px 30px 5px 20px;
    border-bottom: 1px solid rgb(163, 159, 159);
}

ul#main-menu .sub-menu>li:hover>a {
    border-bottom: 1px solid rgb(61, 60, 60);
    color: #4b4e57;
}

ul#main-menu li .sub-menu li:last-child a {
    border: none;
}

ul#main-menu .sub-menu .sub-menu {
    left: 200px;
    top: -12px;
}


/* --------------------------- đăng nhập và đăng ký -------------------------- */

.account {
    margin-right: 20px;
}

.account::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    font-size: 20px;
}

.account a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 0px 5px;
    margin-left: 10px;
}

.account a:hover {
    color: #2d3436;
}

#logo-bar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-buy a {
    color: #000000;
    transition: all 0.6s;
    font-size: 26px;
    margin: 0px 5px;
    border-radius: 50%;
}

.icon-buy:hover a {
    background-color: #bbbbbb;
    padding: 20px;
    border-radius: 50%;
}


/* ------------------- list-socials ------------------- */

ul#list-socials {
    padding-top: 40px;
}

ul#list-socials li {
    padding-right: 10px;
}

ul#list-socials li a {
    color: #0a0a0a;
    font-size: 40px;
    display: block;
    padding: 6px 12px;
}

ul#list-socials li:last-child {
    padding-right: 0;
}

ul#list-socials li:hover a {
    color: #489158;
}


/* --------------------------- search-box -------------------------------- */

form#search {
    position: relative;
    display: flex;
    padding: 10px 0px;
    margin-top: 20px;
}

.search-txt {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    transition: 0.6s;
    line-height: 40px;
    width: 0px;
    bottom: 10px;
    right: 50px;
}

form#search:hover .search-txt {
    height: 40px;
    border-bottom: 1px solid rgb(27, 17, 17);
    color: black;
    width: 200px;
    bottom: 10px;
    right: 50px;
}

form#search .icon-search {
    outline: none;
    border: none;
    background: none;
    padding: 12px 28px 12px 22px;
}


/* ======================================== PRODUCT PAGE ============================================== */

#product-page {
    background-color: #f3f3f3;
}

#product-page a {
    padding: 12px 10px;
    display: inline-block;
    font-size: 17px;
}

#product-page .icon-home {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

#product-page .home {
    color: #222222;
    font-weight: 500;
}

#product-page .icon-link-page {
    font-size: 17px;
    color: #565656;
}

#product-page .product {
    color: #222222;
}


/* ======================================== WP-CONTENT ============================================== */

#wp-content {
    margin-top: 44px;
    margin-bottom: 143px;
}


/* --------------------------- content -------------------------------- */

#content {
    flex: 847px;
    padding-right: 25px;
}


/* ------------------- wp-post ------------------- */

#wp-post {
    margin-bottom: 22px;
}

#wp-post .post {
    margin-bottom: 30px;
}

#wp-post .post .post-thumb {
    margin: 20px 0px;
    display: block;
    padding-right: 28px;
    text-align: center;
}

#wp-post .post .post-title {
    display: block;
    font-size: 28px;
    color: #272727;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 0px 20px 0px;
}

#wp-post .post .the-article-body {
    margin-top: 42px;
    text-align: justify;
}

#wp-post .post .post-content {
    font-size: 14px;
    color: #444444;
    margin: 0;
    padding-bottom: 28px;
}

#wp-post .post .admin {
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

#wp-post .list-post {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#wp-post .list-post li {
    flex: 390px;
    display: flex;
    margin-bottom: 20px;
    padding-right: 15px;
}

#wp-post .list-post li a.post-thumb {
    display: block;
    padding-right: 20px;
}

#wp-post ul.list-post li:hover .post-thumb {
    transform: scale(1.05);
    transition: all 0.25s;
}

#wp-post ul.list-post li a.post-title {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}


/* ------------------- related-post ------------------- */

.box.related-post .box-head {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 44px;
}

.box.related-post .box-head h3 {
    display: inline-block;
    font-size: 23px;
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 20px 15px 0px;
    margin: 0;
    position: relative;
}

.box.box.related-post .box-head h3::before {
    content: "";
    height: 2px;
    width: 45%;
    background-color: #e10000;
    position: absolute;
    bottom: -2px;
}

.box.related-post .box-head {
    margin-bottom: 25px;
}

.box.related-post .box-head h3 {
    background: none;
    color: #1f1f1f;
    padding-left: 0;
    font-size: 21px;
    font-weight: 500;
}

.box.related-post .box-body {
    width: 823px;
}

.box.related-post .box-body .item .post-title {
    color: #1f1f1f;
    display: block;
    padding-top: 14px;
    font-weight: 700;
    font-size: 14px;
}

.box.related-post .box-body .item .post-thumb {
    max-width: 100%;
    height: 100px;
}


/* --------------------------- sidebar -------------------------------- */

#sidebar {
    flex: 322px;
    padding-left: 25px;
}


/* ------------------- category ----------------------- */

.box.category {
    margin-top: 0;
    margin-bottom: 50px;
}

.box.category .box-body {
    border: 1px solid #d4d4d4;
}

.box.category .list-category {
    padding: 0px 20px;
}

.box.category .list-category li a {
    display: block;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 0px;
    text-decoration: none;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
}

.box.category .list-category li a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f138";
    position: absolute;
    right: 10px;
    display: none;
}

.box.category .list-category li:hover a::after {
    display: inline-block;
}

.box.category .list-category li:hover a,
.category .list-category li.active-category a {
    color: #d5be00;
    border-bottom: 1px solid #d5be00;
}

.box.category .list-category li:last-child a {
    border-bottom: none;
}


/* -------------------------- ads -------------------------- */

#sidebar .ads {
    padding: 47px 0px;
}

.box {
    margin-top: 50px;
}

.box .box-body .list-selling-products {
    border: 1px solid #d4d4d4;
}

.box .box-head h3 {
    display: block;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 50px 15px 24px;
    background-color: #128a4e;
    margin: 0;
}

.list-selling-products li {
    padding: 0px 10px;
}

.list-selling-products li .product-item {
    display: flex;
    border-bottom: 1px dashed #d4d4d4;
    padding: 20px 0px 20px 0px;
}

.list-selling-products li .product-item img {
    height: auto;
    transition: all 0.25s;
    border-bottom: 1px solid #c9c9c9;
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
}

.list-selling-products li .product-item:hover img {
    transform: scale(1.05);
    transition: all 0.25s;
}

.list-selling-products li:last-child .product-item {
    border: none;
}
.product-item .product-thumb {
    display: block;
    padding-right: 10px;
}

.product-item .product-info .product-name {
    color: #272727;
    font-size: 14px;
    font-weight: 600;
}

.list-selling-products .product-item .product-info .product-price {
    color: #128a4e;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    padding-right: 8px;
    padding: 10px 8px 10px 0px;
}

.list-selling-products .product-item .product-info del {
    color: #909090;
    font-size: 12px;
    font-weight: 500;
}

.product-item .product-info .detail {
    color: #22839b;
    font-size: 13px;
    display: block;
}


/* =============================================================== WP-FOOTER =================================================================== */

#wp-footer {
    background: #1b1b1b;
    color: #ffffff;
    padding: 72px 0px;
}

#wp-footer a {
    color: #ffffff;
    display: block;
}

#wp-footer .widget .widget-head h3 {
    padding-left: 0;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* ------------------- about us ------------------- */

.widget.about-us {
    flex: 405px;
    padding-right: 45px;
}

.widget.about-us .post-desc {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: justify;
    font-weight: 300;
}


/* ------------------- category ------------------- */

.widget.category {
    flex: 210px;
    padding-right: 15px;
    padding-left: 15px;
}

.widget.category h3 {
    padding-top: 16px;
}

.widget.category .list-category li {
    position: relative;
}

.widget.category .list-category li a {
    padding: 9px 0px;
    padding-left: 20px;
    font-size: 16px;
}

.widget li a {
    font-size: 16px;
    color: #ffffff;
}

.widget li .cate {
    padding-right: 14px;
    font-size: 22px;
    position: absolute;
    left: 0px;
    top: 4px;
}


/* ------------------- featured-news ------------------- */

.widget.featured-news {
    flex: 263px;
    padding-right: 15px;
    padding-left: 45px;
}

.widget.featured-news h3 {
    padding-top: 16px;
}

.widget.featured-news .list-featured-news li {
    position: relative;
}

.widget.featured-news .list-featured-news li a {
    padding: 9px 0px;
    padding-left: 20px;
}


/* ------------------- fanpage ------------------- */

.widget.fanpage {
    flex: 307px;
    padding-left: 15px;
}


/* =========================================================== WP-COPYRIGHT =========================================================== */

#wp-copyright {
    padding: 13px 0px;
}

.copyright {
    font-size: 16px;
    color: #454545;
    text-align: center;
    margin: 0;
}