.d-flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.re-img {
    max-width: 70%;
    height: auto;
}

.bg-green {
    background-color: green;
}